
{% extends "@SiteSite/layout.html.twig" %}
{% block othersheets %}
    <link rel="stylesheet" href="{{ asset('css/editprofil.css') }}"/>
{% endblock %}
{% block title %}Profil{% endblock %}

{% block menu %} {% include '@SiteSite/Menu/menu.html.twig' %}{% endblock %}
{%  block pagetitle %} Editer son profil {% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" name="Envoyer" >Je modifie !</button>
    {{ form_end(form )}}
    <!-- form ici est la variable du formulaire dans le controller -->


{% endblock %}