{% extends "@SiteSite/layout.html.twig" %}

{% block title %}Profil{% endblock %}

{%  block pagetitle %} Editer son profil {% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" name="Envoyer" >Je modifie !</button>
    {{ form_end(form )}}
    <!-- form ici est la variable du formulaire dans le controller -->

{% endblock %}