<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
<fieldset>
    <div>
        <h1>
            Bienvenue
        </h1>
    </div>
    <div>
        Vous êtes {% if identifiant == 0 %}
            un utilisateur anonyme
        <div>

            <a href="{{ path('site_site_sign_up') }}">S'inscrire</a>
            <a href="{{ path('site_site_sign_in') }}">Se connecter</a>

        </div>

        {% elseif identifiant == 1 %}
            un client connecté
            <a href="{{ path('site_site_menu') }}">Menu du Site</a>

        {% elseif identifiant == 2 %}
            administrateur
            <a href="{{ path('site_site_menu') }}">Menu du Site</a>
        {% endif %}
    </div>

</fieldset>

</body>
</html>

