{% extends "@SiteSite/layout.html.twig" %}

{% block title %}Panier{% endblock %}

{%  block pagetitle %} Votre panier {% endblock %}
{% block menu %} {% include '@SiteSite/Menu/menu.html.twig' %}{% endblock %}
{% block testid %}
    {% if identifiant == 1 %}
        <div>

        </div>
    {% else  %}
        <div>
            Cette page ne vous est pas accessible, vous êtes anonyme.
            <a href="{{ path('site_site_homepage') }}">Redirection sur l'accueil</a>
        </div>
    {% endif %}


{% endblock %}
{% block body %}
    {% for i in post %}
        <p>{{ i|e }}</p>
    {% endfor %}



    <a href="{{ path('site_site_menu') }}">Menu du Site</a>
{% endblock %}