{% extends 'base.html.twig' %}
{% block title %}Site{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/site.css') }}"/>
    {% block othersheets %}
    {% endblock %}
{% endblock %}
{% block menu %}
{% include '@SiteSite/Menu/menu.html.twig' %}
{% endblock %}
{% block body %}
<h1>{%  block pagetitle %}{% endblock %}</h1>
    {% block testid %}

    {% endblock %}
{% endblock %}