{% extends 'base.html.twig' %}
{% block title %}Site{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/site.css') }}"/>
    {% block othersheets %}
    {% endblock %}
{% endblock %}
{% block header %}
    {% if identifiant == 1 %}
        <img src="{{ asset('img/top_auth.jpg') }}" alt="image de haut de page client"/>
    {% elseif identifiant == 2%}
        <img src="{{ asset('img/top_admin.png') }}" alt="image de haut de page administateur"/>
    {% else %}
        <img src="{{ asset('img/top.png') }}" alt="image de haut de page anonyme"/>
    {% endif %}
{% endblock %}  
{% block body %}
<h1>{%  block pagetitle %}{% endblock %}</h1>
    {% block testid %}{% endblock %}
{% endblock %}