<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="stylesheet" href="style.css" />
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>

    <h1>{%  block pagetitle %}{% endblock %}</h1>
    {% block testid %}

    {% endblock %}
    {%  block body %}




    {% endblock %}
    </body>
</html>